<template>
    <v-navigation-drawer temporary v-model="show" app>
        <v-toolbar color="primary darken-1" dark flat>
            <v-toolbar-title class="ml-0 pl-3">
                <img class="d-flex" height="35" src="../assets/images/logo.svg" alt="">
            </v-toolbar-title>
        </v-toolbar>
        <navigation-drawer-list />
    </v-navigation-drawer>
</template>
<script>
    export default {
      data: () => ({
        show: true
      }),
      props: {
        drawer: {
          type: Boolean,
          default: true
        }
      },
      watch: {}
    }
</script>
<style lang="scss">
    @import "../assets/scss/style.scss";
</style>