<template>
    <v-list dense class="py-0" dark>
        <v-list-tile>
            <v-list-tile-action>
                <v-icon></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title> test </v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</template>

<script>
	export default {
		data: () => ({
			
        }),
        mounted () {
        },
        methods : {
        }

	}
</script>
<style lang="scss">
    @import "../assets/scss/style.scss";
</style>
